.barraLateral{
    width: 22vw;
    height: 147.7vh;
    background-color: #DDD;
    gap:3em;  
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 10px;
}

.formularioCheckbox{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
}

.tituloBarraNavegacion{
   padding: 1em ;
   text-align: center;
}

.labelBarraLateral{
    margin-left: 15px;
}

.hrBarraNavegaion{
    margin-top: 1rem;
}

input[type="checkbox"]{
    accent-color: #13A438;
}

.btnAsesores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
