body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedorEstadistica{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 1rem;
}
.contenidoEstadistica{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 65vh;
    max-width: 74vw;
    background-color: #DDDDDD;
    border-radius: 5px;
    bottom: 10px;
    margin-bottom: 1em;
    
    & .titulo {
        margin: 0.5em 0em 2em 0.5em;
        display: flex;
        width: 100%;
    }

    & .contenido{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 2.5em;
        margin: 15px;   
        
    }
}

.contenedorFechasEstadisticas{
    display: flex;
    align-items: center;
    gap:.5em;
}

.tituloEstadisticas{
    padding-left: 10em;
    width: 65%;
    text-align: center;
    font-size: 1.5rem;
}

.formularioFecha{
    width: 35%;
}

@media (max-width: 940px) {
    .contenedorFechasEstadisticas {
      display: block;
      margin-left: 5em;
    }
  }