body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedorEstadistica{
    display: flex;
    justify-content: end;
    align-items: end;
}
.contenidoEstadistica{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 45vh;
    width: 74vw;
    background-color: #DDDDDD;
    border-radius: 5px;
    bottom: 10px;
    
    & .titulo {
        margin: 0;
        text-align: center;
    }

    & .contenido{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 2.5em;
        margin: 15px;   
        
    }
}