.modalHistoricoGestiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74vw;
    height: 80vh;
    background-color: #fff;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1;
    border-radius: 5px;

    & h2{
        margin-top: 1em;
    }
}

.datosAspiranteHistorico{
    display: flex;
    gap:2em;
    margin-top: 1.3em;
    margin-bottom: 1em;
}

.tituloModalHistorico{
    margin-top: 1em;
    display: flex;
    width: 100%;
     & h2{
         text-align: center;
         width: 100%;
     }
     & button{
         width: 2.5em;
         height: 2.5em;
         position: fixed;
         left: 85%;
         margin: 1em;
     }
 
     & button:hover{
         cursor: pointer;
         background-color: red;
         border: 1px solid black;
         border-radius: 2px;
     }
}

.cabezaTablaHistorico th {
    position: sticky;
    top: 0; 
    background-color: #d5d1defe; 
    cursor: pointer;
    text-transform: capitalize;
    z-index: 1; 
    
}

main.tablaHistorico {
    width: 100%;
    height: 100%;
    background-color: #fff5;
    border-radius: 5px;
    overflow: hidden;
}

.cuerpoTablaHistorico {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    
}

.cuerpoTablaHistorico::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.cuerpoTablaHistorico::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.cuerpoTablaHistorico:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.cuerpoTablaHistorico tr:nth-child(even) {
    background-color: #e3e3e3;
}

.tablaHistorico {
    width: 100%;
}

.tablaHistorico, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.filaTablaAspirantesHistorico:hover{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.cotenedorModal{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 163vh;
    background-color: rgba(0, 0, 0, 0.5); 
}


    