.modalFiltrar{
    width: 74vw;
    height: 80vh;
    background-color: #DDDDDD;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1;
    text-align: center;
    border-radius: 5px;

    & h2 {
        margin-top: 2em;
    }
}

.contenedorFiltrar{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 142%;
    background-color: rgba(0, 0, 0, 0.5); 
} 

.formularioFiltros{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 2em;
}

.btnAgregarFiltro{
    width: 120px;
    height: 30px;
    background-color: #13A438;
    border-radius: 5px;
    border: solid 1px black;
    color: white;

    &:hover{
        background-color: white;
        color: #13A438;
        cursor: pointer;
    }
}

.botonCerrar{
    display: flex;
    justify-content: end;
    margin: 1em;
}

.cerrarModal{
    width: 2.5em;
    height: 2.5em;
}

.cerrarModal:hover{
    background-color: red;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

.botonFiltrar{
    display: flex;
    justify-content: end;
    margin-top: 0.5em;
    margin-right: 2em;
}
 

.filtrosSeleccionados{
    margin: auto;
    margin-top: 5em;
    width: 90%;
    height: 35%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.seleccionDeFiltro{
    height: 2em;
    width: 18em;
    border-radius: 5px;
}

.campoFiltro{
    height: 2em;
    width: 18em;
    border-radius: 5px;
    border: 1px solid black;
}