.modalSubirBD{
    width: 74vw;
    height: 80vh;
    background-color: red;
    position: fixed;
    top: 10%;
    left: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenedorBotones{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .contenedorSubirBD{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 142%;
    background-color: rgba(0, 0, 0, 0.5); 
} */