.cuerpoTablaAsesores {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto; /* Habilitar scroll en el eje Y */
    overflow: overlay;
}

.cuerpoTablaAsesores::-webkit-scrollbar {
    width: 0.5rem; /* Ancho del scroll */
    height: 0.5rem; /* Altura del scroll horizontal */
}

.cuerpoTablaAsesores::-webkit-scrollbar-thumb {
    border-radius: .5rem; /* Redondear los bordes del scrollbar */
    background-color: #0004; /* Color del scrollbar */
    visibility: hidden; /* Oculto por defecto */
}

.cuerpoTablaAsesores:hover::-webkit-scrollbar-thumb {
    visibility: visible; /* Aparece al hacer hover en el cuerpo de la tabla */
}

.cuerpoTablaAsesores tr:nth-child(even) {
    background-color: #e3e3e3; /* Colorea filas pares */
}

.cabezaTablaAsesores th:first-child {
    left: 0; 
    z-index: 2; 
}

.cabezaTablaAsesores th:nth-child(2) {
    left: 6rem;     
    z-index: 2;
}

.cuerpoTablaAsesores tr:nth-child(odd) td:first-child{
    left: 0;
    background-color: #ffffff;
    position: sticky;
}

.cuerpoTablaAsesores tr:nth-child(odd) td:nth-child(2){
    left: 6rem;
    background-color: #ffffff;
    position: sticky;
}
/* Filas pares */
.cuerpoTablaAsesores tr:nth-child(even) td:first-child{
    left: 0;
    background-color: #e3e3e3;
    position: sticky;
}
.cuerpoTablaAsesores tr:nth-child(even) td:nth-child(2) {
    left: 6rem;
    background-color: #e3e3e3;
    position: sticky;
}

.tablaAsesores {
    width: 100%;
    overflow-y: auto; /* Asegura que el contenido tenga scroll vertical */
}

.tablaAsesores, th, td {
    border-collapse: collapse;
    text-align: left; /* Alinear el texto a la izquierda */
}

.cabezaTablaAsesores th {
    position: sticky;
    top: 0; 
    background-color: #d5d1defe; 
    text-transform: capitalize;
    z-index: 1; /* Asegura que la cabecera esté sobre el contenido */
}

.cuerpoTablaAsesores tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
    overflow: overlay; /* Añadir overlay al hover */
}

.cabezaTablaAsesores th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.cabezaTablaAsesores th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd; /* Cambia el color del borde al hacer hover */
}

.cabezaTablaAsesores th:hover {
    color: #13A438; /* Cambia el color del texto al hacer hover */
}

.cabezaTablaAsesores th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.filaTablaAsesores:hover {
    border: 1px solid black;
    border-radius: 10px;
}
