* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: small;
}

main.tabla {
    max-width: 74vw;
    height: 80vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 3em;
}

.encabezadoTabla {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezadoTabla .espacioBuscador {
    width: 40%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 .1rem .4rem #0002;
}

.encabezadoTabla .espacioBuscador:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.encabezadoTabla .espacioBuscador img {
    width: 1.2rem;
    height: 1.2rem;
}

.encabezadoTabla .espacioBuscador input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    height: 3em;
}

.cuerpoTabla {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    
}

.cuerpoTabla::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.cuerpoTabla::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.cuerpoTabla:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.cuerpoTabla tr:nth-child(even) {
    background-color: #e3e3e3;
}

.tabla {
    width: 100%;
}

.tabla, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.cabezaTabla th {
    position: sticky;
    top: 0; 
    background-color: #d5d1defe; 
    cursor: pointer;
    text-transform: capitalize;
    z-index: 1; 
    
}


.cuerpoTabla tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.matriculado {
    background-color: #13A438;
    padding: 1rem 4rem;
    border-radius: 2rem;
    text-align: center;
    height: 3rem;
}

.en {
    background-color: #e5ff23;
    padding: .4rem 4rem;
    border-radius: 2rem;
    text-align: center;
}

.sin{
    background-color: rgb(254, 178, 46);
    padding: .4rem 4rem ;
    border-radius: 2rem;
    text-align: center;
}

.no{
    background-color: gray;
    padding: .4rem .8rem;
    border-radius: 2rem;
    text-align: center;
}

.descartado {
    background-color: #FF571D;
    padding: 1rem .8rem;
    border-radius: 2rem;
    text-align: center;
}

.liquidado {
    background-color: #a1a1a1;
    padding: 1rem .8rem;
    border-radius: 2rem;
    text-align: center;
}

.cabezaTabla th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

.cabezaTabla th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

.cabezaTabla th:hover {
    color: #13A438;
}

.cabezaTabla th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.botonBuscar {
    background-color: #13A438; 
    color: white; 
    border: none;
    border-radius: 1rem; 
    padding: 0.3rem 0.7rem; 
    cursor: pointer;
    margin-left: 0.5rem; 
    transition: background-color 0.2s;
    text-align: center;
    height: 2.5em;

}

.filtrar{
    margin-bottom: 1rem;
    margin-right: 10px;
}

.botonBuscar:hover {
    background-color: #004812; 
}

.h1{
    text-align: center;
}

.cabezaTabla th:first-child {
    left: 0; 
    z-index: 2; 
}

.cabezaTabla th:nth-child(2) {
    left: 7rem;     
    z-index: 2;
}


.cuerpoTabla tr:nth-child(odd) td:first-child{
    left: 0;
    background-color: #ffffff;
    position: sticky;
}

.cuerpoTabla tr:nth-child(odd) td:nth-child(2){
    left: 7rem;
    background-color: #ffffff;
    position: sticky;
}
/* Filas pares */
.cuerpoTabla tr:nth-child(even) td:first-child{
    left: 0;
    background-color: #e3e3e3;
    position: sticky;
}
.cuerpoTabla tr:nth-child(even) td:nth-child(2) {
    left: 7rem;
    background-color: #e3e3e3;
    position: sticky;
}
.filaTablaAspirantes:hover{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.tablaEscondida{
    display: none;
}

.filtrar-exportar {
    display: flex;
    gap: 10px; /* Ajusta este valor según el espacio que quieras entre los botones */
    align-items: center;
  }
  
.noDescargar{
    display: none;
}
  
.descargar {
    background-color: #13A438; 
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.5rem 0.7rem; 
    border: solid 1px black;
    margin-top: .9em;
    text-decoration: none;
    margin-right: 0.8em;
    text-align: center;
  }
  
.descargar:hover {
    background-color: white;
        color: #13A438;
        cursor: pointer;
  }

/* modal cargando */
.modal-cargando {
    position: absolute;
    top: 25em;
    left: 52em;
    display: inline-block; /* Permite que el contenido de alrededor siga fluyendo */
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo ligeramente translúcido */
    padding: 30px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    ; /* Asegura que esté por encima de otros elementos */
    z-index: 10
  }
  
  .textoCargando{
    font-size: 2rem;
    color: #333;
    z-index: 10
  }

  .ocultarCargando{
    opacity: 0;
  }