* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
}

main.tabla {
    width: 74vw;
    height: 80vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.encabezadoTabla {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezadoTabla .espacioBuscador {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.encabezadoTabla .espacioBuscador:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.encabezadoTabla .espacioBuscador img {
    width: 1.2rem;
    height: 1.2rem;
}

.encabezadoTabla .espacioBuscador input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.cuerpoTabla {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    
}

.cuerpoTabla::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.cuerpoTabla::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.cuerpoTabla:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0; 
    background-color: #d5d1defe; 
    cursor: pointer;
    text-transform: capitalize;
    z-index: 1; 
    
}


tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.matriculado {
    background-color: #13A438;
    color: #084F21;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.cancelado {
    background-color: #FF571D;
    color: #8c001a;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.liquidado {
    background-color: #14CDE0;
    color: #005b7f;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #13A438;
}

thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

.botonBuscar {
    background-color: #13A438; 
    color: white; 
    border: none;
    border-radius: 1rem; 
    padding: 0.3rem 0.7rem; 
    cursor: pointer;
    margin-left: 0.5rem; 
    transition: background-color 0.2s;
    text-align: center;

}

.filtrar{
    margin-bottom: 1rem;
    margin-right: 10px;
}

.botonBuscar:hover {
    background-color: #004812; 
}

.h1{
    text-align: center;
}


thead th:first-child {
    left: 0; 
    z-index: 2; 
}

thead th:nth-child(3) {
    left: 5rem;     
    z-index: 2;
}

tbody td:first-child{
    left: 0; 
    position: sticky;
    background-color: white;
}

tbody td:nth-child(3) {
    left: 5rem; 
    position: sticky;
    background-color: white; 
}
